<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

    <!--
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/ebid" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>
    -->
    <!--
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
        <property name="url" value="jdbc:sqlserver://utwfkqop9t.database.windows.net:1433;database=ebidDB" />
        <property name="username" value="ebidDB@utwfkqop9t" />
        <property name="password" value="eBid2014" />
    </bean>
    -->
    <!--
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://ebid-quxiz.rhcloud.com:3306/ebid" />
        <property name="username" value="ebid" />
        <property name="password" value="eBid2014" />
    </bean>
    -->
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://db4free.net:3306/ebid" />
        <property name="username" value="ebid" />
        <property name="password" value="eBid2014" />
    </bean>
    
    <!--
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://mysql5.000webhost.com:3306/a2905946_ebid" />
        <property name="username" value="a2905946_ebid" />
        <property name="password" value="eBid2014" />
    </bean>
    -->
    <!--
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://sql4.freemysqlhosting.net:3306/sql458713" />
        <property name="username" value="sql458713" />
        <property name="password" value="lD7*wL9%" />
    </bean>
    -->
    <!-- Hibernate 4 SessionFactory Bean definition -->
    <bean id="hibernate4AnnotatedSessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.se.ebid.entity.AutoBid</value>
                <value>com.se.ebid.entity.Blacklist</value>
                <value>com.se.ebid.entity.Comment</value>
                <value>com.se.ebid.entity.Complaint</value>
                <value>com.se.ebid.entity.Feedback</value>
                <value>com.se.ebid.entity.Item</value>
                <value>com.se.ebid.entity.Member</value>
                <value>com.se.ebid.entity.Message</value>
                <value>com.se.ebid.entity.Photo</value>
                <value>com.se.ebid.entity.Transaction</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>
 
    <bean id="memberDAO" class="com.se.ebid.dao.MemberDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean> 
    <bean id="autoBidDAO" class="com.se.ebid.dao.AutoBidDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    <bean id="blacklistDAO" class="com.se.ebid.dao.BlacklistDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    <bean id="commentDAO" class="com.se.ebid.dao.CommentDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    <bean id="complaintDAO" class="com.se.ebid.dao.ComplaintDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    <bean id="feedbackDAO" class="com.se.ebid.dao.FeedbackDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    <bean id="itemDAO" class="com.se.ebid.dao.ItemDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    <bean id="messageDAO" class="com.se.ebid.dao.MessageDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    <bean id="photoDAO" class="com.se.ebid.dao.PhotoDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    <bean id="transactionDAO" class="com.se.ebid.dao.TransactionDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager"/>
     
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>
    
    <bean id="myUserDetailsService" 
          class="com.se.ebid.service.MyUserDetailsService">
        <property name="memberDAO" ref="memberDAO" />
    </bean>
    
</beans>
